<?xml version="1.0"?>
	<!-- a test of spring, see reference from ODE discussion
      http://www.ode.org/old_list_archives/2006-March/018014.html
      where stiffness and damping are related to joint limit cfm and erp
      public static void Calc(float springConstant, float dampingCofficient, float
      sprungMass, out float erp, out float cfm)
      {
                  float r = 2.0f * dampingCofficient * (float)Math.Sqrt(sprungMass
      * springConstant);
                  float hk = Scene.OdeTimeStep * springConstant;

                  erp = hk / (hk + r);
                  cfm = 1.0f / (hk + r);
      }
      in the end,
      erp = dt * kp / ( dt * kp + kd )
      cfm = 1 / ( dt * kp + kd )
    -->
	






<robot name="galago_springs">
	<link name='chassis'>
		<inertial>
			<origin xyz="0 0 0.5" rpy="0 0 0"/>
			<mass value="7.0"/>
			<inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1" />
		</inertial>
		<collision name='chassis_collision'>
			<origin xyz="0 0 0.5" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_base.dae"/>
			</geometry>
		</collision>
		<visual name='chassis_visual'>
			<origin xyz="0 0 0.5" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_base.dae"/>
			</geometry>
			<material name="orange"/>
		</visual>
		<gazebo>
			<static>false</static>
			<gravity>true</gravity>
			<self_collide>false</self_collide>
			<kinematic>false</kinematic>
			<velocity_decay>
				<linear>0.0</linear>
				<angular>0.0</angular>
			</velocity_decay>
			<max_contacts>250</max_contacts>
			<surface>
				<friction>
					<ode>
						<mu>0.2</mu>
						<mu2>0.2</mu2>
						<fdir1>1.0 0 0</fdir1>
						<slip1>0</slip1>
						<slip2>0</slip2>
					</ode>
				</friction>
				<contact>
					<ode>
						<kp>111.1111</kp>
						<kd>0.0</kd>
						<max_vel>10000.0</max_vel>
						<min_depth>0.0</min_depth>
					</ode>
				</contact>
			</surface>
		</gazebo>
	</link>
	
	<link name='spring_a'>
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="1.0"/>
			<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
		</inertial>
		<collision name='spring_a_collision'>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_spring.dae"/>
			</geometry>
			<surface>
				<bounce restitution_coefficient="1.0" threshold="0.01"/>
			</surface>
		</collision>
		<visual name='spring_a_visual'>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_spring.dae"/>
			</geometry>
			<material name="orange"/>
		</visual>
		<!--gazebo>
			<static>false</static>
			<gravity>true</gravity>
			<self_collide>false</self_collide>
			<kinematic>false</kinematic>
			<velocity_decay>
				<linear>0.0</linear>
				<angular>0.0</angular>
			</velocity_decay>
			<max_contacts>250</max_contacts>
			<surface>
				<friction>
					<ode>
						<mu>0.2</mu>
						<mu2>0.2</mu2>
						<fdir1>1.0 0 0</fdir1>
						<slip1>0</slip1>
						<slip2>0</slip2>
					</ode>
				</friction>
				<contact>
					<ode>
						<kp>111.1111</kp>
						<kd>0.0</kd>
						<max_vel>10000.0</max_vel>
						<min_depth>0.0</min_depth>
					</ode>
				</contact>
			</surface>
		</gazebo-->
	</link>
	
	<gazebo reference="spring_a">
		<mu1 value="100.0" />
		<mu2 value="0.1" />
		<!-- kp value="10000000.0" / -->
		<maxVel value="10.0"/>
		<kp value="100000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0" />
		<material>Gazebo/Grey</material>
		<turnGravityOff>false</turnGravityOff>
	</gazebo>
	
	<link name='spring_b'>
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 2.094333333"/>
			<mass value="1.0"/>
			<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
		</inertial>
		<collision name='spring_b_collision'>
			<origin xyz="0 0 0" rpy="0 0 2.094333333"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_spring.dae"/>
			</geometry>
			<surface>
				<bounce restitution_coefficient="1.0" threshold="0.01"/>
			</surface>
		</collision>
		<visual name='spring_b_visual'>
			<origin xyz="0 0 0" rpy="0 0 2.094333333"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_spring.dae"/>
			</geometry>
			<material name="black"/>
		</visual>
		<!--gazebo>
			<static>false</static>
			<gravity>true</gravity>
			<self_collide>false</self_collide>
			<kinematic>false</kinematic>
			<velocity_decay>
				<linear>0.0</linear>
				<angular>0.0</angular>
			</velocity_decay>
			<max_contacts>250</max_contacts>
			<surface>
				<friction>
					<ode>
						<mu>0.2</mu>
						<mu2>0.2</mu2>
						<fdir1>1.0 0 0</fdir1>
						<slip1>0</slip1>
						<slip2>0</slip2>
					</ode>
				</friction>
				<contact>
					<ode>
						<kp>111.1111</kp>
						<kd>0.0</kd>
						<max_vel>10000.0</max_vel>
						<min_depth>0.0</min_depth>
					</ode>
				</contact>
			</surface>
		</gazebo-->
	</link>
	
	<gazebo reference="spring_b">
		<mu1 value="100.0" />
		<mu2 value="0.1" />
		<!-- kp value="10000000.0" / -->
		<maxVel value="10.0"/>
		<kp value="100000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0" />
		<material>Gazebo/Grey</material>
		<turnGravityOff>false</turnGravityOff>
	</gazebo>
	
	<link name='spring_c'>
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 -2.094333333"/>
			<mass value="1.0"/>
			<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
		</inertial>
		<collision name='spring_c_collision'>
			<origin xyz="0 0 0" rpy="0 0 -2.094333333"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_spring.dae"/>
			</geometry>
			<surface>
				<bounce restitution_coefficient="1.0" threshold="0.01"/>
			</surface>
		</collision>
		<visual name='spring_c_visual'>
			<origin xyz="0 0 0" rpy="0 0 -2.094333333"/>
			<geometry>
				<mesh filename="package://galago_gazebo_models/meshes/galago_springs/galago_simple_spring.dae"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>
	
	<gazebo reference="spring_c">
		<mu1 value="100.0" />
		<mu2 value="0.1" />
		<!-- kp value="10000000.0" / -->
		<maxVel value="10.0"/>
		<kp value="100000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0" />
		<material>Gazebo/Grey</material>
		<turnGravityOff>false</turnGravityOff>
		<!--static>false</static>
		<gravity>true</gravity>
		<self_collide>false</self_collide>
		<kinematic>true</kinematic>
		<velocity_decay>
			<linear>0.0</linear>
			<angular>0.0</angular>
		</velocity_decay>
		<kp>11110.1111</kp>
		<kd>1000</kd-->
		<!--minDepth>0.5</minDepth-->
		<!--dampingFactor>0.5</dampingFactor-->
		<!--max_contacts>250</max_contacts>
		<surface>
			<friction>
				<ode>
					<mu>0.2</mu>
					<mu2>0.2</mu2>
					<fdir1>1.0 0 0</fdir1>
					<slip1>0</slip1>
					<slip2>0</slip2>
				</ode>
			</friction>
			<contact>
				<ode>
					<kp>111.1111</kp>
					<kd>0.0</kd>
					<max_vel>10000.0</max_vel>
					<min_depth>0.0</min_depth>
				</ode>
			</contact>
		</surface-->
	</gazebo>
	
	<joint name="spring_a_joint" type="prismatic">
		<parent link="chassis"/>
		<child link="spring_a"/>
		<origin xyz="1 0 0.5" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
		<limit lower="0" upper="0" effort="1000" velocity="10"/>
		<dynamics dumping="0.5" friction="0.0"/>
	</joint >
	
	<!--gazebo reference="spring_a_joint">
		<implicitSpringDamper>true</implicitSpringDamper>
		<stopCfm>0.1</stopCfm>
		<stopErp>0.01</stopErp>
	</gazebo-->
	
	<joint name="spring_b_joint" type="prismatic">
		<parent link="chassis"/>
		<child link="spring_b"/>
		<origin xyz="-0.5 -0.866023404 0.5" rpy="0 0 2.094333333"/>
		<axis xyz="0 0 1"/>
		<limit lower="0" upper="0" effort="1000" velocity="10"/>
		<dynamics dumping="0.5" friction="0.0"/>
	</joint >
	
	<!--gazebo reference="spring_b_joint">
		<implicitSpringDamper>true</implicitSpringDamper>
		<stopCfm>0.1</stopCfm>
		<stopErp>0.01</stopErp>
	</gazebo-->
	
	<joint name="spring_c_joint" type="prismatic">
		<parent link="chassis"/>
		<child link="spring_c"/>
		<origin xyz="-0.5 0.866023404 0.5" rpy="0 0 -2.094333333"/>
		<axis xyz="0 0 1"/>
		<limit lower="0" upper="0" effort="1000" velocity="10"/>
		<dynamics dumping="0.5" friction="0.0"/>
	</joint >
	
	<!---gazebo reference="spring_c_joint">
		<implicitSpringDamper>true</implicitSpringDamper>
		<stopCfm>0.1</stopCfm>
		<stopErp>0.01</stopErp>
	</gazebo-->
	
</robot>